body {
	display:flex;
	font-family: blackhawk,Verdana,Arial, Comic Sans MS;
	background-color:#66acae;
	/*margin:0px 0px 50px 0px;*/
}
aside{
	width:25%;
	min-width: 250px;
	max-width: 500px;
	display: flex;
	flex-direction:column;
		
}
#haut{
	background-color:#004058;
	text-align: center;
}
#milieu{
	background-color:#23798e;
	color:white;
	text-align: left;
	list-style-type: none;
	padding: 0px 15px 0px 20px;
}
#bas,#comp{
	background-color:#66acae;
	text-align: justify;
	font-size:1em;
	font-style:bold;
	color:black;
	padding: 0px 15px 0px 20px;
}
#moi{
	/*margin: 30px 20px 20px 20px;*/
	border-radius: 130px;
	margin:auto;
}
section{
	background-color: #E5E6F9;
	width: 80%;
}
a{
	color: white;
}

a:hover{
	color: red;
}
h1{
	color: #ED0000;
	text-align: center;
	font-size:2em;
}
h2{
	color: #ED0000;
	text-align: center;
	font-size:1.5em;
	border-bottom: 3px #ED0000 solid;
	margin:40px 50px 40px 50px;
	text-align: left;
	padding-left: 50px;
}
h3{
	color: #E5E6F9;
	text-align: center;
	font-size:1,25em;
}

p{
	font-size: 0.8em
	
}
#interet{
	display:flex;
	flex-wrap: wrap; 
	flex-direction: column;
	justify-content: space-around;
	font-weight: normal;
	margin: 0px 70px 0px 50px;
}
#formation{
	display: flex;
	justify-content: space-between;
	/*flex-direction: column;*/
	flex-wrap: wrap;
	margin: 20px;
}
#experience{
	display: flex;
	justify-content: space-around;
	align-content: space-between;
	flex-wrap: wrap;
	text-align: left;
}
#experience1 {
	flex-direction: column;
	margin-left: -13px;
}
#experience2 {
	flex-direction: column;
	/*margin-left: -10px;*/
}
#interet{
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-around;
	font-weight: normal;
	margin: 0px 70px 0px 50px;
}
.marg{
	margin-left:40px;
}
.expdate{
	display: inline-block;
	width: 150px;
	vertical-align: top;
}
.explib{
	display: inline-block;
	vertical-align: top;
	width: 750px;
	margin-left: 40px;
}
.corp {
	margin-left: 35px;
}

@media all and (max-width: 500px){
	body{
		overflow-x:hidden;
		display: flex;
		flex-direction: column;
		font-family: Verdana, Arial, Comic Sans MS;
		background-color:#1c1c24;
		margin:auto;
	}
	aside{
		width:auto;
	}
	section{
		width:auto;
	}
	#S1{
		display:flex;
		flex-direction: column;
		font-style: bold;
	}

}
@font-face{
    font-family: blackhawk;
    src: url(BLACKHAWK\OTF) format('otf'),
   	     url(BLACKHAWK\TTF) format('truetype'),
}
